.container {
    background-color: white;
    color: #585858;
}
.page-title {
text-align: center;
color: #026583;
}

.subtitle {
    text-align: center;
    font-style: italic;
    color: rgb(3, 205, 157);
}

.food-title {
    font-style: italic;
    color:#02835a;
}

.item {
    margin: 10px;
}

#total-button {
    margin-top: 5px;
}
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;}
